PORT=3000
MONGO_URI=mongodb://localhost:27017/bildyapp

JWT_SECRET=tu_secreto_jwt
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

SLACK_WEBHOOK_URL=tu_webhook_url

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USER=tu_usuario
EMAIL_PASS=tu_contraseña
EMAIL_FROM=noreply@bildyapp.com